# Virtual environment
venv/
env/
django_env/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
db.sqlite3-journal

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Static files and media uploads
staticfiles/
media/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# macOS files
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Logs and reports
*.log
*.pot
coverage.xml
*.out
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# If using Docker
docker-compose.override.yml
.docker/

# Other
*.bak
